VITE_API_BASE_URL=https://expense-tracker-25ic.onrender.com
VITE_SOCKET_URL=https://expense-tracker-25ic.onrender.com
VITE_APP_NAME=SplitMoney
VITE_CLOUDINARY_CLOUD_NAME=dngwva1dk
VITE_CLOUDINARY_UPLOAD_PRESET=splitmoney_unsigned
VITE_CLOUDINARY_FOLDER=splitmoney
VITE_MAX_UPLOAD_BYTES=5242880
VITE_VAPID_PUBLIC_KEY=BL2VOZ7PWzw2cVA_tStmUI0aH4SW1qPLsOFMbWpX3VcaR-9G-2c0d7NMxsZ_lf45eNRrWTmq6XXZoV9qn5C9y3A
